.container-narrow {
    margin: 0 auto;
    max-width: 970px
}

.container-narrow>footer {
    margin-top: 20px;
    text-align: center
}

.container-narrow>footer p {
    padding: 5px;
    display: inline-block;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px
}

body {
    position: relative;
    padding-top: 40px;
    padding-bottom: 70px
}

.content {
    padding: 20px;
    margin: 20px -20px;
    -webkit-border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    border-radius: 6px 6px 6px 6px
}

#sidebar {
    font-size: .9em
}

.post {
    font-size: 1.0em
}

.page {
    font-size: 16px
}

.page,
.post {
    line-height: 1.5em;
    font-family: Fira code,SimHei,Monaco, Menlo, Consolas,DOS,  'Courier New', monospace
}

.page .more {
    text-pull: right
}

.post .date {
    margin-bottom: 20px;
    font-weight: bold
}

.mypage {
    padding-bottom: 30px;
    border-bottom: 1px solid #fff
}

.navbar-brand {
    text-shadow: 0 1px 0 rgba(255, 255, 255, .1), 0 0 30px rgba(255, 255, 255, .125);
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    transition: all .2s linear
}

.navbar-brand:hover {
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .1), 0 0 30px rgba(255, 255, 255, .4)
}

.pagination {
    margin: 10px 0
}

.pagination a {
    color: #555
}

li i {
    margin-right: 5px;
    margin-left: 5px
}

.listing-item {
    line-height: 24px
}

.meta-widget {
    margin: 10px 0;
    font-size: .9em;
}

.meta-widget a {
    color: #aaaaaa
}

.tag_box {
    margin: 0;
    overflow: hidden
}

.tag_box li {
    line-height: 28px
}

.tag_box li i {
    opacity: .9
}

.tag_box.inline li {
    float: left
}

.tag_box a {
    padding: 2px 6px;
    margin: 2px;
    background: #e5e5e5;
    color: #555;
    border-radius: 3px;
    text-decoration: none;
    border: 1px dashed #bbb
}

.tag_box a span {
    vertical-align: super;
    font-size: .8em
}

.tag_box a:hover {
    background-color: #397bdd;
    color: #FFF
}

.tag_box a.active {
    background: #57a957;
    border: 1px solid #4c964d;
    color: #FFF
}

.widget {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #e0e0e0
}

#local-search-input {
    background-color: #000;
    color: #fff;
    font-family: dos;
    -webkit-text-fill-color: #bbb
}

#local-search-result {
    scroll: auto;
    overflow: auto;
    max-height: 3in;
    background-color: #000
}

ul.search-result-list {
    padding-left: 10px
}

a.search-result-title {
    font-weight: bold
}

p.search-result {
    color: #555
}

em.search-keyword {
    border-bottom: 1px dashed #4088b8;
    font-weight: bold
}

.tagcloud .entry {
    width: 100%
}

a {
    color: #2bbc8a
}

a:focus {
    color: #fefe54;
    background: #a50
}

a:hover {
    color: #000000;
    background: rgb(153, 153, 153)
}

a:active {
    color: #fefe54;
    background: #a50
}

a.label-anchor {
    position: relative;
    display: block;
    text-align: right;
    width: 200px;
    left: -210px;
    font-family: DOS, SimHei, Monaco, Menlo, Consolas, 'Courier New', monospace
}

a.label-anchor:target span {
    background-color: #b94a48
}

a.label-anchor:hover {
    text-decoration: none
}

a.label-anchor span {
    font-weight: bold;
    line-height: 0;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    white-space: nowrap;
    background-color: #666;
    padding: 1px 4px 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px
}

a.inline-ref {
    border-bottom: dotted 1px #333;
    color: black
}

a.inline-ref:hover {
    text-decoration: none;
    border-bottom: solid 1px #000
}

blockquote {
    border-left: 5px solid #ccc;
    font-size: .9em;
    background-color: #3a3a3a
}

blockquote p,
blockquote ol,
blockquote ul,
blockquote li,
.slogan {
    font-family: DOS, SimHei, Monaco, Menlo, Consolas, 'Courier New', monospace
}

img,
video {
    max-width: 97.5%;
    margin: 15px auto;
    display: block;
    height: auto
}

.slogan .icon-heart {
    opacity: .5;
    margin-right: 5px;
    margin-top: 3px
}

.slogan .icon-heart:hover {
    opacity: 1
}

.slogan {
    font-size: 1.2em;
    color: #fff;
    display: block;
    margin-bottom: 1.2em
}

.blink-fast {
    animation-duration: .5s;
    animation-name: blink;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out
}

.blink-slow {
    animation-duration: 1s;
    animation-name: blink;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out
}

@keyframes blink {
    0% {
        opacity: 1
    }

    50% {
        opacity: .8
    }

    100% {
        opacity: 0
    }
}

#gotop {
    display: block;
    width: 90px;
    height: 36px;
    position: fixed;
    bottom: 40px;
    right: 50px;
    text-decoration: none;
    display: none;
    background-color: #000
}

#gotop span {
    display: block;
    color: #fff
}

#gotop span:hover {
    color: #aaa
}

#gotop span {
    font-size: 24px;
    text-align: center;
    line-height: 35px;
    vertical-align: bottom
}

header h1 {
    font-weight: normal;
    line-height: 1.2em;
    margin-bottom: .6667em
}

h1 {
    font-size: 1.9em;
    margin-bottom: .6667em
}
h2 {
    font-size: 1.7em;
    margin-bottom: .6667em
}
h3 {
    font-size: 1.5em;
    margin-bottom: .6667em
}
h4 {
    font-size: 1.3em;
    margin-bottom: .6667em
}
h5 {
    font-size: 1.1em;
    margin-bottom: .6667em
}
h1,
h2,
h3,
h4,
h5,
h6 {
    text-rendering: optimizelegibility;
    font-weight: bold;
    line-height: 1.2em;
    font-family: DOS, SimHei, Monaco, Menlo, Consolas, 'Courier New', monospace;
    color: #fff
}

h2 {
    color: #fff;
    padding-top: 40px;
    margin: -25px 0 .83em
}

.page-header {
    -webkit-background-clip: border-box;
    -webkit-background-origin: padding-box;
    -webkit-background-size: cover;
    padding: 10px 20px 0px;
    margin: -20px -20px 20px;
    color: #fff;
    border-radius: 6px 6px 0 0;
    font-size: 1.3em
}
em{
    font-style:oblique;
}
.page .entry {
    padding-top: 10px;
    padding-bottom: 10px
}

.page .entry .row {
    padding-left: 20px;
    padding-right: 5px
}

.page .entry .col-md-8 {
    margin: 10px 0
}

.page .entry .thumbnail {
    margin: 10px
}

.page h3.title {
    position: relative;
    padding: 5px 0px 0px 0px;
    font-size: 1.5em;
    line-height: 1.3em;
    font-weight: bold;
    font-family: DOS, SimHei, Monaco, Menlo, Consolas, 'Courier New', monospace
}

.page h3.title div.article-title {
    width: 80%
}

.page h3.title div.date {
    float: right;
    font-size: .7em;
    color: #777
}

.archive-ul>.caret {
    vertical-align: 7px;
    margin-left: 5px;
    opacity: .3
}

.archive-ul:hover>.caret {
    opacity: 1
}

.toc {
    font-size: 10pt;
    width: auto;
    padding: 10px;
    background: #000
}

.toc .toc-title {
    font-size: 125%
}

.toc-article {
    list-style: circle;
    line-height: 1em;
    margin-bottom: 0;
    padding: 10px 12px
}

.toc-article li {
    margin-left: 5px !important;
    padding: 0 !important
}

.toc-article ol {
    list-style: square;
    padding: 5px 10px
}

.toc-article ol ol {
    list-style: circle;
    padding: 5px 10px
}

.line {
    height: 20px
}

table {
    border-collapse: separate;
    border-spacing: 0;
    vertical-align: middle
}

th {
    padding: 12px 10px 12px 10px;
    border-bottom: 1px dashed #4088b8
}

td {
    padding: 7px 10px 7px 10px;
    text-align: left;
    font-weight: normal;
    vertical-align: middle
}

.cf:before,
.cf:after {
    content: "";
    display: table
}

.cf:after {
    clear: both
}

.cf {
    *zoom: 1
}

hr {
    border-top: 2px solid #fff
}

.btn {
    margin-bottom: 10px
}

.btn:active {
    -webkit-box-shadow: #000 0 0 0 0;
    box-shadow: #000 0 0 0 0;
    margin: 10px 0 0 10px;
    outline: #000 none;
    background: #bbb !important
}

.ds-thread {
    font-size: .8em
}

.logo {
    background: url("../favicon.png") no-repeat left top;
    background-size: 5em
}

.logo>h1 {
    padding-left: 3em;
    font-size: 1.5em;
    line-height: 2.0em
}

.fa-heart:before {
    color: #f00
}

pre code {
    border-width: 0 !important
}

pre {
    border-width: 0 !important;
    font-size: 16px !important
}

pre,
.highlight,
.gist {
    background: #252525 !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important
}

figure {
    border-width: 0 !important
}

.alert-success {
    color: #fefe54
}

.thumbnail {
    border: 0
}

.date {
    color: #fff;
    line-height: 3em;
    text-align: right
}

pre,
code {
    font-family: Fira Code,Monaco, Menlo, Consolas,DOS,  "Courier New", monospace !important
}

.fancybox-close:hover {
    background: url("../fancybox/fancybox_sprite.png")
}

.fancybox-close:focus {
    background: url("../fancybox/fancybox_sprite.png")
}

.fancybox-close:active {
    background: url("../fancybox/fancybox_sprite.png")
}

 .article-footer-copyright {
    margin: 1.5em 0 0;
    padding: 0em 1em;
    border-left: 3px solid #ff1700;
    background-color: #272727;
    list-style: none;
    font-size: 14px;
}


/*valine 评论系统样式*/


  

.v .vwrap{
border: 2px solid rgb(255, 255, 255) !important;

}
  
.v * {
    color: #e4e4e4!important;
}


.v .vlist .vcard .vhead .vsys {
    background: #393939 !important;

}

.v .vbtn{
    background: #000 !important;
    
}

.post-meta-item-text::before, em::after {
    content: '';
}
.post-meta-item-text{
    font-size: 12px;
}
.leancloud-visitors-count{
    font-size: 12px;
}

/*waline 评论系统样式*/

.wl-comment {
    /* 字体大小 */
    --waline-font-size: 16px;
    /* 常规颜色 */
    --waline-white: #000;
    --waline-light-grey: #666;
    --waline-dark-grey: #999;
  
    /* 主题色 */
    --waline-theme-color: #27ae60;
    --waline-active-color: #2ecc71;
  
    /* 布局颜色 */
    --waline-color: #e4e4e4;
    --waline-bgcolor: #000000;
    --waline-bgcolor-light: #101010;
    --waline-bgcolor-hover: #f0f0f0;
    --waline-border-color: #333;
    --waline-disable-bgcolor: #444;
    --waline-disable-color: #272727;
    --waline-code-bgcolor: #282c34;
  
    /* 特殊颜色 */
    --waline-bq-color: #272727;
  
    /* 头像 */
    --waline-avatar-size: 3.25rem;
    --waline-m-avatar-size: calc(var(--waline-avatar-size) * 9 / 13);
  
    /* 徽章 */
    --waline-badge-color: #3498db;
    --waline-badge-font-size: 0.775em;
  
    /* 信息 */
    --waline-info-bgcolor: #000000;
    --waline-info-color: #e4e4e4;
    --waline-info-font-size: 0.625em;
  
    /* 渲染选择 */
    --waline-border: 1px solid var(--waline-border-color);
    --waline-avatar-radius: 50%;
    --waline-box-shadow: none;
  }
  .wl-cards {
    --waline-color: #e3e3e3;
    --waline-bgcolor: #000000;
    --waline-bgcolor-light: #1a1a1a;
    --waline-bgcolor-hover: #f0f0f0;
    --waline-border-color: rgb(255, 255, 255);
    --waline-disable-bgcolor: #444;
    --waline-disable-color: #272727;
    --waline-code-bgcolor: #282c34;
    --waline-dark-grey: #e4e4e4;
    --waline-info-bgcolor: #000000;
    --waline-info-color: #e4e4e4;

    }

/*gitalk 评论系统样式*/

.gt-container .gt-header-textarea{

    background-color: #000 !important;
    border: 1px solid #8b8b8b !important;
}

.gt-container .gt-popup {

    background: rgb(0, 0, 0) !important;

}

.gt-container .gt-header-preview {

    border: 1px solid rgba(0,0,0,0.1)!important;
    background-color: #000000 !important;
}

.gt-container .gt-header-preview.markdown-body{

    color: #ffffff !important;
}

.gt-container .gt-btn {

    background-color: #2bbc8a!important;
    color: #000 !important;
    border: 1px solid #000000 !important;
    font-size: 0.8em !important;
}

.gt-container .gt-header-controls-tip {

    color: #2bbc8a!important;
}
.gt-container a {

    color: #2bbc8a !important;
}
.gt-container .gt-comment-content {
    background-color: #101010 !important;
}

.gt-container .gt-comment-body.markdown-body {
    color: #fff !important;
}

.gt-container .gt-svg svg {
    width: 100%;
    height: 100%;
    fill: #ffffff !important;
}